body {
  background-color: rgb(42, 214, 171);
}
.btn-brown {
  background-color: #8b5e3c;
  color: white;
}

.btn-brown:hover {
  background-color: #704a2f;
  color: white;
}
#colorfondo {
  background-color: #3fb698;
}
